<div class="bs-docs-header" id="content">
  <div class="container">
    <h1><span class="glyphicon glyphicon-calendar"></span> Ablauf / Programm</h1>
  </div>
</div>

<div class="container bs-docs-container">
	<div class="row">
		<div class="col-md-9" role="main">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3>Start <small>Sonntag, 6.9.2015, 9.30 Uhr</small></h3>
				</div>
				<div class="panel-body">
					<p>Die Anmeldung und die Herausgabe der Startunterlagen (kleine Übersichtskarte, Notfallnummer) erfolgt ab 8.00 Uhr (<a href="http://www.bergwerk-fell.de/index.php?id=weinstein" target="_blank"><u>Bistro Besucherbergwerk</u></a>), gleichzeitig ziehen die Teilnehmer die erste Aufgabe (somit bleibt noch Zeit zum Planen). Um 9.15 Uhr erfolgt eine kurze Besprechung/Einweisung, danach gehen die Starter zum Parkplatz, wo der eigentliche Start erfolgt.</p>
					<p>Der Startschuß fällt um 9:30 Uhr auf dem Besucherparkplatz des <a href="http://www.bergwerk-fell.de" target="_blank"><u>Besucherbergwerks Fell</u></a> (siehe <u><%= link_to "Anfahrt", pages_anfahrt_path %></u>) - die Starter brechen in verschiedene Richtungen zu ihren jeweiligen Zielen auf.</p>
					<p> Gestartet wird in Le-Mans-Manier: die Räder werden vor dem Start in einem vorgegebenen Bereich abgestellt, die Starter stellen hinter der Startlinie auf. Nach erfolgtem Startschuß gehen/laufen/sprinten die Teilnehmer zum (hoffentlich) richtigen Rad, sitzen auf und fahren los.</p>
					Zeitplan:
					<ul>
						<li>8:00 Uhr Anmeldung / Herausgabe der Startunterlagen</li>
						<li>9:15 Uhr Einweisung</li>
						<li>9:30 Uhr Start
						<li>9:35 Uhr Eintreffen der ersten Rückkehrer</li>
						<li>16:00 Uhr Zielschluß</li>
						<li>16:30 Uhr Siegerehrung</li>
					</ul>
				</div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3>Unterwegs</h3>					
				</div>
				<div class="panel-body">
					<p>Das nächste Ziel wird per Los bestimmt - darin sind die GPS-Koordinaten und eine kurze Beschreibung des Zieles enthalten. Die Streckenwahl bleibt komplett den Teams überlassen, diese müssen also mit Hilfe der eigenen Karten und/oder GPS-Geräten eine Strecke suchen und das Ziel erreichen.</p>
					<p>An jeder Station gibt eine Aufgabe zu lösen, die Lösung der Aufgabe ist dabei der Nachweis, das die jeweilige Station auch angefahren wurde. Dabei gibt es unterschiedliche Arten von Aufgaben - aber sicherlich für alle Teilnehmer lösbar. Lasst euch überraschen, es wird auf jeden Fall lustig!</p>
					<p>Die Form des Nachweises einer erfüllten Aufgabe ist unterschiedlich - mal muss etwas in die Karte eingetragen werden, ein anderes mal muss das Team etwas mit zum Ziel bringen, ein Foto schiessen etc.</p>				
				</div>
			</div>			
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3>Ziel</h3>
				</div>
				<div class="panel-body">
					<p>Nachdem alle angegebenen Zielpunkte angefahren und alle Aufgaben erfüllt wurden, kann der letzte Rückweg zum <a href="http://www.bergwerk-fell" target="_blank"><u>Besucherbergwerk Fell</u></a> angetreten werden. Das Ziel liegt dabei am Museum/Bistro - dort erfolgt die Zeitnahme und die Streckenkarten werden abgegeben.</p>
				</div>
			</div>					
		</div>
		<div class="col-md-3">
			<%= link_to image_tag("emc/lutscher_thumb.jpg", :class=>"img-responsive"), image_url("emc/lutscher.jpg"), :class=>"fancybox thumbnail" %>
			<%= link_to image_tag("panorama_2_thumb.jpg", :class=>"img-responsive"), image_url("panorama_min_2.jpg"),{:class=>"fancybox thumbnail"} %>				
		</div>		
	</div>
</div>

<script>
  enable_top_menu('ablauf');
</script>