<div class="bs-docs-header" id="content">
  <div class="container">
    <h1><span class="glyphicon glyphicon-calendar"></span> Ablauf / Programm</h1>
  </div>
</div>

<div class="container bs-docs-container">
	<div class="row">
		<div class="col-md-9" role="main">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3>Start <small>Sonntag, 6.9.2015, 10.15 Uhr</h3>
				</div>
				<div class="panel-body">
					<p>Die Startunterlagen (inkl. Karte der Wegepunkte mit GPS-Koordinaten, Notfallnummer) werden ab 9.00 Uhr herausgegeben (Bistro Besucherbergwerk). Um 9.45 Uhr erfolgt eine kurze Besprechung, danach gehen die Starter zum Parkplatz, wo der eigentliche Start erfolgt.</p>
					<p>Der Start erfolgt um 10.15 Uhr auf dem Besucherparkplatz des Besucherbergwerkes Fell (siehe <a href="/anfahrt.html">Anfahrt</a>). Dort befinden sich auch Parkmöglichkeiten.</p>
					<p> Gestartet wird in Le-Mans-Manier: die Räder werden vor dem Start in einem vorgegebenen Bereich abgestellt, die Starter stellen hinter der Startlinie auf. Nach erfolgtem Startschuß gehen/laufen/sprinten die Teilnehmer zum (hoffentlich) richtigen Rad, sitzen auf und fahren los.</p>
					Zeitplan:
					<ul>
						<li>9:00 Uhr Herausgabe der Startunterlagen / Anmeldung</li>
						<li>9:45 Uhr Teambesprechung</li>
						<li>10:15 Uhr Start
						<li>ab 15:00 Uhr Ankunft der ersten Gruppen</li>
						<li>17:15 Uhr Zielschluß</li>
						<li>17:30 Uhr Siegerehrung / Verlosung</li>
					</ul>
				</div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3>Unterwegs</h3>					
				</div>
				<div class="panel-body">
					<p>Auf der mit den Startunterlagen erhaltenen Streckenkarte sind die 5 anzufahrenden Zielpunkte eingezeichnet und zusätzlich die GPS-Koordinaten angegeben. Diese 5 Orte sind mit dem Rad anzufahren - die Streckenwahl bleibt dabei komplett den Teams überlassen.</p>
					<p>An jeder Station gibt eine Aufgabe zu lösen, die Lösung der Aufgabe ist dabei der Nachweis, das die jeweilige Station auch angefahren wurde. Dabei gibt es unterschiedliche Arten von Aufgaben, die teilweise nur im Team gelöst werden können. Lasst euch überraschen, es wird auf jeden Fall lustig!</p>
					<p>Die Form des Nachweises einer erfüllten Aufgabe ist unterschiedlich - mal muss etwas in die Karte eingetragen werden, ein anderes mal muss das Team etwas mit zum Ziel bringen, ein Foto schiessen etc.</p>				
				</div>
			</div>			
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3>Ziel</h3>
				</div>
				<div class="panel-body">
					<p>Nachdem alle angegebenen Zielpunkte angefahren und alle Aufgaben erfüllt wurden, kann der Rückweg zum Besucherbergwerk Fell angetreten werden. Das Ziel liegt dabei am Museum/Bistro - dort erfolgt die Zeitnahme und die Streckenkarten werden abgegeben. Die Karten werden auf Vollständigkeit und Korrektheit beprüft. Nur mit einer vollständigen Streckenkarte kann an der Verlosung teilgenommen werden.</p>
				</div>
			</div>			
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3>Siegerehrung</h3>
				</div>
				<div class="panel-body">
				</div>
			</div>			
		</div>
		<div class="col-md-3">
			<%= link_to image_tag("panorama_1_thumb.jpg", :class=>"img-responsive"), image_url("panorama_min_1.jpg"), :class=>"fancybox thumbnail" %>
			<%= link_to image_tag("panorama_2_thumb.jpg", :class=>"img-responsive"), image_url("panorama_min_2.jpg"),{:class=>"fancybox thumbnail"} %>				
		</div>		
	</div>
</div>

<script>
  enable_top_menu('ablauf');
</script>