<div class="bs-docs-header" id="content">
  <div class="container">
    <h1><span class="glyphicon glyphicon-pencil"></span> Anmeldung</h1>
  </div>
</div>

<div class="container bs-docs-container">
	<div class="row">
		<div class="col-md-9" role="main">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3>Anmeldung</h3>
				</div>
				<div class="panel-body">
					<p>Die Anmeldung erfolgt über das folgende Formular. Damit die Anmeldung wirksam wird, muss die entsprechende Anmeldegebühr (pro Fahrer 10€ unter Angabe von Mail-Adresse und Team-Namen) auf das unten angegebene Konto überwiesen werden. Den Eingang der Anmeldegebühr werden wir per E-Mail bestätigen, daher bitte unbedingt eine gültige Mail-Adresse angeben.</p>
					<form action="http://www.rolandschmitt.info/cgi-bin/selfmail.rb" method="post" class="form-horizontal" role="form">

						<input type="hidden" name="return" value="http://schnitzeljagd.rolandschmitt.info/danke.html">
						<input type="hidden" name="delimiter" value=": ">
						<input type="hidden" name="subject" value="Schnitzjagd 2015: Anmeldung">
						<input type="hidden" name="website" value="">

						<div class="form-group">
					    	<label for="inputEmail3" class="col-sm-2 control-label">Vorname</label>
					    	<div class="col-sm-6">
					      		<input  class="form-control" id="firstname" name="firstname" placeholder="">
					    	</div>
				  		</div>
						<div class="form-group">
					    	<label for="inputEmail3" class="col-sm-2 control-label">Nachname</label>
					    	<div class="col-sm-6">
					      		<input  class="form-control" id="lastname" name="lastname" placeholder="">
					    	</div>
				  		</div>				  		
				  		<div class="form-group">
					    	<label for="inputEmail3" class="col-sm-2 control-label">Strasse / Hausnummer</label>
					    	<div class="col-sm-4">
					      		<input  class="form-control" id="street" name="street" placeholder="">
					    	</div>					    	
					    	<div class="col-sm-2">
					      		<input  class="form-control" id="number" name="number" placeholder="">
					    	</div>
				  		</div>
						<div class="form-group">
					    	<label for="inputEmail3" class="col-sm-2 control-label">Postleitzahl / Ort</label>
					    	<div class="col-sm-2">
					      		<input  class="form-control" id="zipcode" name="zipcode" placeholder="">
					      	</div>
					    	<div class="col-sm-4">
					      		<input  class="form-control" id="town" name="town" placeholder="">
					    	</div>
				  		</div>
				  		<div class="form-group">
					    	<label for="inputEmail3" class="col-sm-2 control-label">EMail-Adresse</label>
					    	<div class="col-sm-6">
					      		<input  type="email" class="form-control" name="email" id="email" placeholder="">
					    	</div>
				  		</div>
				  		<div class="form-group">
					    	<label for="inputEmail3" class="col-sm-2 control-label">Name des Teams</label>
					    	<div class="col-sm-6">
					      		<input  class="form-control" id="teamname" name="teamname" placeholder="">
					    	</div>
				  		</div>
				  		<div class="form-group">
					    	<label for="inputEmail3" class="col-sm-2 control-label">Namen der Teammitglieder</label>
					    	<div class="col-sm-6">
					      		<textarea  class="form-control" id="members" name="members" rows="3" placeholder="z.B. Karl,Otto,Heinz"></textarea>
					    	</div>
				  		</div>
					  	<div class="form-group">
					    	<div class="col-sm-offset-2 col-sm-10">
					      		<button type="submit" class="btn btn-primary">Anmelden</button>
					    	</div>
					  	</div>
					</form>
				</div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3>Startgebühr</h3>
				</div>
				<div class="panel-body">
					<p>Die Startgebühr beträgt <b>pro Teammitglied 10 Euro</b>. Bitte überweist den entsprechenden Gesamtbetrag für euer Team auf das Konto 1234567 bei der Spasskatze Trier, BLZ 123123123. Wichtig: als Referenz bitte die Mail-Adresse der Registrierung und den Teamnamen angeben, damit wir den Zahlungseingang zuordnen können!</p>
				</div>
			</div>
		</div>
		<div class="col-md-3">
		<%= link_to image_tag("mtb1_thumb.jpg", :class=>"img-responsive"), image_url("mtb1.jpg"), :class=>"fancybox thumbnail" %>
		</div>			
	</div>
</div>

<script>
  	enable_top_menu('anmeldung');
</script>