<div class="bs-docs-header" id="content">
  <div class="container">
    <h1><span class="glyphicon glyphicon-heart"></span> Danke!</h1>
  </div>
</div>

<div class="container bs-docs-container">
	<div class="row">
		<div class="col-md-9" role="main">
			<div class="panel panel-primary">
				<div class="panel-heading">
					Vielen Dank für eure Anmeldung!
				</div>
				<div class="panel-body">
					<p>Sobald die Startgebühr auf unserem Konto eingegangen ist (unter Angabe von E-Mail/Teamname) werden wir dir eine Bestätigung per Mail zusenden.</p>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
  enable_top_menu('anmeldung');
</script>