<div class="bs-docs-header" id="content">
  <div class="container">
    <h1><span class="glyphicon glyphicon-link"></span> Impressum</h1>
  </div>
</div>

<div class="container bs-docs-container">
	<div class="row">
		<div class="col-md-9" role="main">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3>Impressum</h3>
				</div>
				<div class="panel-body">
					<address>
					  <strong>Roland Schmitt</strong><br>
					  Moselstrasse 42<br>
					  54341 Fell-Fastrau<br>
					  <abbr title="E-Mail">E-Mail:</abbr> roland.schmitt@web.de
					</address>
				</div>
			</div>		
		</div>
	</div>
</div>

<script>
	enable_top_menu('impressum');
</script>