<div class="bs-docs-header" id="content">
  <div class="container">
    <h1><span class="glyphicon glyphicon-star"></span> 1. MTB-Schnitzeljagd</h1>
  </div>
</div>

<div class="container bs-docs-container">
	<div class="row">
		<div class="col-md-9" role="main">
			<!--div class="page-header">
				<h1>Willkommen zur 1. MTB-Schnitzeljagd! <small>6.9.2015</small></h1>
			</div-->
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3>Wann? Wo? Wer?</h3>
				</div>
				<div class="panel-body">
					<p>Start ist am <b>06.09.2015 um 10:00</b> Uhr am <b>Besucherbergwerk Fell</b>. Mitmachen kann <b>jeder</b>, der ein Fahrrad hat und damit um die <b>40km</b> und <b>800 Höhenmeter</b> bewältigen kann. </p>
				</div>
			</div>			
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3>Was ist eine MTB-Schnitzeljagd?</h3>
				</div>
				<div class="panel-body">
					<p>Bei der MTB-Schnitzeljagd müssen vorgegebene Stationen mit dem Mountainbike angefahren werden - dort müssen kleine Aufgaben gelöst oder Fragen beantwortet werden. Die Reihenfolge und die Wegeplanung zum Erreichen der Wegepunkte wird dabei den teilnehmenden Teams überlassen, d.h. jedes Team kann sich eine eigene Strecke suchen und damit auch die Reihenfolge der Stationen selbst bestimmen. An jeder Station erhält das Team einen Stein, eine Antwort oder Ähnliches, was als Nachweis für das Erreichen der vorgeschriebenen Punkte dient. An manchen Stationen wird der Stein einfach ausgehändigt, an anderen Stationen muss eine Aufgabe erfüllt werden, um den Stein zu bekommen.</p>
					<p>Wer mit allen notwendigen Steinen, Antworten, Stempeln etc. wieder am Startpunkt, also dem Bergwerk, erscheint, bekommt das goldene Schieferschnitzel!</p>
				</div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3>Wer kann teilnehmen?</h3>
				</div>
				<div class="panel-body">
					<p>Teilnehmen dürfen Teams mit 2 bis 4 Mitgliedern, pro Team muss mindestens ein Erwachsener  mitfahren. Es können also Familien, Ehepaare, Fussballvereine und alle anderen Gruppen mitfahren, die sich entsprechend in mehrere Teams aufteilen müssen.<br/>
					Da die Zielstationen teilweise im Wald bzw. den Feldern rund um Fell liegen, ist ein Mountainbike sinnvoll.</p>
					<p>Für alle Teilnehmer besteht Helmpflicht, es gelten die Regeln der StVO - die Teilnehmer verpflichten sich, diese einzuhalten.</p>
				</div>
			</div>

			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3>Welche Strecke wird gefahren?</h3>
				</div>
				<div class="panel-body">
					<p>Das muss jedes Team selbst entscheiden! Die Reihenfolge der Stationen und die gewählte Strecke muss von den Teams bestimmt werden. Daher gibt es auch keine abgesperrte Strecke oder Karten mit festgelegter Wegewahl.</p>
					<p>Die Steckenlänge wird (je nach Wegewahl) um die 40km mit 800 Höhenmeter betragen.</p>					
				</div>
			</div>

			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3>Wie finde ich die Stationen?</h3>
				</div>
				<div class="panel-body">
					Vor dem Start werden Übersichtskarten ausgegeben, auf denen die einzelnen Stationen eingezeichnet und beschrieben sind. Daher ist es sinnvoll, sich eigenes Kartenmaterial mitzubringen. Das können Faltkarten, Pläne, GPS-Geräte oder GPS-fähige Handys sein.
				</div>
			</div>

			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3>Was erwartet euch an den Stationen?</h3>
				</div>
				<div class="panel-body">
					An den Stationen erwarten euch verschiedene Aufgaben, die gelöst werden müssen. Das können Fragen sein, deren Antworten auf dem Mannschaftsbogen vermerkt werden müssen oder kleine sportliche Herausforderungen, die es zu meistern gilt. An jeder Station wird muss so nachgewiesen werden, das das Team sich dort den Herauforderungen gestellt hat und die Aufgaben gemeistert wurden!
				</div>
			</div>

			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3>Wie erfolgt der Start?</h3>
				</div>
				<div class="panel-body">
					Der Start erfolgt als sogenannter "Le-Mans-Start", d. h. die Fahrräder werden vor dem Start im Startbereich abgelegt/abgestellt, nach dem Startschuss sprinten die Fahrer zu ihren Rädern, um aufzusitzen und loszufahren. Die Räder werden in der Reihenfolge abgelegt/-gestellt, in der die Teilnehmer zum Start erscheinen bzw. sich einschreiben.
				</div>
			</div>

			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3>Wer gewinnt?</h3>
				</div>
				<div class="panel-body">
					Die Schnitzeljagd ist kein Wettbewerb, kein Wettkampf und auch kein Rennen! Der Spaß am Radfahren, der Natur und dem Miteinander stehen im Vordergrund. Daher gibt es weder Preisgelder noch Pokale zu gewinnen. Jedes Team, das zusammen ankommt und die "Schnitzel" im Trikot hat, erhält ein Souvenir.
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<%= link_to image_tag("panorama_4_thumb.jpg", :class=>"img-responsive"), image_url("panorama_min_4.jpg"), :class=>"fancybox thumbnail" %>
			<%= link_to image_tag("panorama_7_thumb.jpg", :class=>"img-responsive"), image_url("panorama_min_7.jpg"), :class=>"fancybox thumbnail" %>
			<%= link_to image_tag("panorama_6_thumb.jpg", :class=>"img-responsive"), image_url("panorama_min_6.jpg"), :class=>"fancybox thumbnail" %>
		</div>	
	</div>
</div>

<script>
  enable_top_menu('index');
</script>