<div class="bs-docs-header" id="content">
  <div class="container">
    <h1><span class="glyphicon glyphicon-road"></span> Strecke</h1>
  </div>
</div>

<div class="container bs-docs-container">
	<div class="row">
		<div class="col-md-9" role="main">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3>Strecke</h3>
				</div>
				<div class="panel-body">
					<p>Da die Strecke individuell von den Teilnehmern geplant wird, variiert auch die Streckenlänge und damit die zu fahrenden Höhenmeter. Als grober Anhaltspunkt sind ca. 50km mit rund 1200 Hm zu erwarten.</p>
					<p>Die Stationen werden sich alle innerhalb des unten abgebildeten Kartenabschnitts befinden, also im Umkreis von rund 10km um das Besucherbergwerk Fell. Sie werden nicht separat ausgeschildert, aber in der zugelosten Aufgabenbeschreibung genau beschrieben (GPS-Koordinaten, Ortsbeschreibung). Als Stationen können z.B. Grillhütten, Lokale oder Wegekreuze dienen.</p>
					
					<p>Während der Veranstaltung ist die Telefonnummer 012/1234567 besetzt, falls sich jemand verfahren hat, es Fragen zu Stationen gibt oder das Flickzeug ausgegangen sein sollte. </p>
					<%= link_to image_tag("map_mit_bw.jpg", :class=>"img-responsive"), "/assets/map_mit_bw.jpg", :class=>"fancybox thumbnail" %>
				</div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3>Streckenplanung</h3>
				</div>
				<div class="panel-body">
					<p>Die Streckenplanung liegt in den Händen der Teilnehmer! Rechtsrum? Oder lieber links?</p>
					 <p>Wichtig ist nur, das alle Stationen angefahren werden. Dabei wird man unterwegs anderen Teilnehmern begegnen, die sich eventuell für eine andere Strecke und/oder Reihenfolge entschieden haben.</p>
				</div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3>Unterwegs</h3>
				</div>
				<div class="panel-body">
					<p>Wir empfehlen die Mitnahme von Verpflegung und Getränken. Außerdem Karte bzw. Navigationsgerät, Flickzeug, Werkzeug+Luftpumpe und Handy. Ein Rucksack ist empfehlenswert.</p>
				</div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3>Verpflegung</h3>
				</div>
				<div class="panel-body">
					<p>Auf der Strecke wird keine Verpflegung angeboten. Da die einzelnen Aufgaben jedoch relativ kurz sind und Pausen nicht in die Zeitnahme eingehen, ist eine Verpflegung am Bergwerk möglich.</p>
				</div>
			</div>			
		</div>
		<div class="col-md-3">
			<%= link_to image_tag("panorama_1_thumb.jpg", :class=>"img-responsive"), image_url("panorama_min_1.jpg"), :class=>"fancybox thumbnail" %>	
			<%= link_to image_tag("panorama_3_thumb.jpg", :class=>"img-responsive"), image_url("panorama_min_3.jpg"), :class=>"fancybox thumbnail" %>
			<%= link_to image_tag("panorama_4_thumb.jpg", :class=>"img-responsive"), image_url("panorama_min_4.jpg"), :class=>"fancybox thumbnail" %>
		</div>	
	</div>
</div>

<script>
  enable_top_menu('strecke');
</script>