<div class="bs-docs-header" id="content">
  <div class="container">
    <h1><span class="glyphicon glyphicon-pencil"></span> Anfragen</h1>
  </div>
</div>

<div class="container bs-docs-container">
	<div class="row">
		<div class="col-md-12" role="main">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3>Anfragen</h3>
				</div>
				<div class="panel-body">
					<%if flash.now[:notice] %>
						<div class="alert alert-success alert-dismissible" role="alert">
							<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	    	  				<%= flash.now[:notice] %>
    	  				</div>
    				<% end -%>

					<%if flash.now[:error] %>
						<div class="alert alert-danger alert-dismissible" role="alert">
							<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	    	  				<%= flash.now[:error] %>
    	  				</div>
    				<% end -%>
    				<table class="table table-bordered table-striped" id="user_table">
    					    <thead>
						      <tr>

						        <th>Name</th>
						        <th>Eintrag am</th>
						        <th>Email</th>
						        <th>Text</th>
						        <th>Beantwortet?</th>
						        <th>Löschen</th>
						      </tr>
						    </thead>
						    <tbody>
	    						<%= render partial: "form", collection: @contacts %>
	    					</tbody>
	    			</table>
    			</div>
    		</div>
    	</div>

					
	</div>
</div>

<script>
  	enable_top_menu('anfragen');
</script>